body {
    margin: 0;
    background: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Proza Libre', sans-serif;
}

a {
    text-decoration: none;
    color: #5c74b8;
    font-weight: bold;
}

#sidebar ul {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    padding-left: 0;
}

#infobar ul {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    padding-left: 0;
}

#infobar a {
    text-decoration: none;
    color: #2c3c69;
    font-weight: normal;
}

#sidebar a {
    text-decoration: none;
    color: #150d30;
    font-weight: normal;
}

#sidebar-container {
    background: #ebecf0;
    border-right: solid;
    border-width: 1px;
    border-color: #d4d4d4;
}

#sidebar {
    padding-left: 1em;
    padding-bottom: 1em;
    color: #241d66;
    font-size: 0.9em;
}

#infobar {
    font-size: 0.9em;
    padding-left: 1em;
    padding-right: 1em;
    color: #241d66;
}

#logo-container {
    background: #6a8fb7;
    display: flex;
    align-items: center;
}

#logo {
    padding-left: 1em;
    padding-right: 1em;
}

#home-link {
    color: #ffffff;
    font-size: 2.5em;
    font-family: 'Indie Flower';
}

#grid-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 3.0fr 1fr;
    grid-template-rows: 125px minmax(75vh, max-content);
    background: #ffffff;
}

#header {
    grid-column: 2 /span 2;
    border-bottom: solid;
    border-width: 1px;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    color: #283a52;
}

#content {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 2em;
    font-family: 'Open Sans', sans-serif;
}

.last-modified {
    font-family: 'Open Sans', sans-serif;
    font-size: 70%;
    color: #325182;
}

.published {
    font-family: 'Open Sans', sans-serif;
    font-size: 70%;
    color: #325182;
}

.codehilite {
    border: dotted;
    border-width: 1px;
    padding-left: 1em;
}

@media only screen and (max-width: 800px) {
    #grid-container {
        box-shadow: 0;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto max-content;
    }

    #header {
        grid-column: 1;
        grid-row: 3;
    }

    #content {
        grid-column: 1;
        grid-row: 4;
    }

    #infobar {
        grid-row: 5;
    }
}
