{% extends "layout.html" %}

{% block sidebar %}
    {{ super() }}
    {% if post %}
        <div class="toc">
            <h3>Table of Contents</h3>
            {{ post.toc|safe }}
        </div>
    {% endif %}
{% endblock %}

{% block header %}
    {% if post %}
        <h1>{{ post.title }}</h1>
    {% else %}
        <h1>No Posts</h1>
    {% endif %}
{% endblock %}
            
{% block content %}
    {% if post %}
        <div class="published">Published: {{ post.published }}</div>
        {% if post.last_modified %}
            <div class="last-modified">Last Modified: {{ post.last_modified }}</div>
        {% endif %}
        {{ post.html|safe }}
    {% else %}
        <h2>Nothing. Nada. Zilch.</h2>
        There are no posts yet. Maybe come back later?
    {% endif %}
{% endblock %}

{% block infobar %}
    <ul>
        <li><h3>Tags</h3></li>
        {% for tag in tags %}
            <li><a href="{{ url_for('.archive_page', tag=tag.tag) }}">{{ tag.tag }}</a></li>
        {% endfor %}
    </ul>

    <ul>
        <li><h3>Older Posts</h3></li>
        {% for post in older_posts %}
            <li><a href="{{ url_for('.post_page', post_id=post.rowid) }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}