{% extends "layout.html" %}

{% block sidebar %}
{% endblock %}

{% block header %}
    <h1>Blog Posts</h1>
{% endblock %}
            
{% block content %}
    <h2>All Blog Posts</h2>
    <ul class="titles">
        {% for post in posts %}
            <li><a href="post?id={{post.identifier}}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <p>
{% endblock %}

{% block infobar %}
    <ul>
        <li><h3>Archive</h3></li>
        <li><a href="#">2016</a></li>
        <li><a href="#">2017</a></li>
        <li><a href="#">2018</a></li>
    </ul>
{% endblock %}
