{% extends "layout.html" %}

{% block sidebar %}
    {{ super() }}
{% endblock %}

{% block header %}
    <h1>All Posts</h1>
{% endblock %}
            
{% block content %}
    <h2>Newest post</h2>
    <a href="post?id={{newest.post_id}}">{{ newest.title }}</a>

    <h2>Older posts</h2>
    {% for year in posts %}
        <h3 id="{{ year }}">{{ year }}</h3>
        <ul>
        {% for post in posts[year] %}
            <li><a href="post?id={{post.post_id}}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
