<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Justacid's Blog</title>

    <link href="https://fonts.googleapis.com/css?family=Exo+2|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">

    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='code-styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
</head>
<body>
    <div id="sidebar-container">
        <div id="logo-container">
            <div id="logo">
                <a href="{{ url_for('index') }}"> 
                    <img src="{{ url_for('static', filename="logo.png") }}"/>
                </a>
            </div>
            <a id="home-link" href="{{ url_for('index') }}">justacid</a>
        </div>
        <div id="sidebar">
            {% block sidebar %}
                <h3>Navigation</h3>
                <div class="toc">
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            {% endblock %}
        </div>
    </div>
    <div id="content-wrapper">
        <div id="grid-container">
            <div id="header">
                {% block header %}{% endblock %}
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <div id="infobar">
                <ul>
                    <li><h3>Archive</h3></li>
                    {% for year in posts %}
                        <li><a href="{{ url_for('index') }}#{{ year }}">{{ year }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
