<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>justacid.com: blog</title>

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Proza+Libre|Open+Sans" rel="stylesheet">

    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='code-styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon">

    <link rel="alternate" type="application/atom+xml" title="justacid.com: blog" href="{{ url_for('pages.feed_page') }}">
</head>
<body>
    <div id="grid-container">
        <div id="logo-container">
            <div id="logo">
                <a href="{{ url_for('pages.index_page') }}"> 
                    <img src="{{ url_for('static', filename='logo.png') }}"/>
                </a>
            </div>
            <a id="home-link" href="{{ url_for('pages.index_page') }}">.jblog</a>
        </div>
        <div id="header">
            {% block header %}{% endblock %}
        </div>
        <div id="sidebar-container">
            <div id="sidebar">
                {% block sidebar %}
                    <div class="navi">
                        <h3>Links</h3>
                        <ul>
                            <li><a href="{{ url_for('pages.archive_page') }}">Archive</a></li>
                            <li><a href="{{ url_for('pages.about_page') }}">About</a></li>
                        </ul>
                    </div>
                {% endblock %}
            </div>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="infobar">
            {% block infobar %}{% endblock %}
        </div>
    </div>
</body>
</html>
